* {
  box-sizing: border-box;
  font-family: Arial;
}

header,
section {
  overflow-x: hidden;
}

#navbar {
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-bg {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navitem-color {
  color: rgb(0, 0, 0) !important;
}

#navbar .nav-link {
  color: rgb(2555, 255, 255);
  font-size: 0.7em;
  transform: color 0.3s ease;
}

body {
  background-color: #eadfc3;
}

header {
  height: 100vh;
  color: white;
}

#banner {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner-text {
  font-weight: bolder;
  padding-top: 10px;
}

h3 {
  font-weight: bolder;
}

#brand {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
  padding-top: 20%;
}

#section-2 {
  height: 200vh;
}

#section-2 .container {
  height: 100%;
}

.img-col,
.text-col {
  transition: all 0.5s ease;
  color: white;
}

.img-col {
  position: relative; /* Positioning context for absolute positioning */
  overflow: hidden; /* Hide any overflow of the image */
}

.accordionImg {
  position: absolute; /* Position the image absolutely within the container */
  top: 40%; /* Center the image vertically */
  left: 50%; /* Center the image horizontally */
  width: auto; /* Allow width to auto adjust */
  height: 100%; /* Set height to 100% of the container */
  object-fit: contain; /* Cover the container, cropping if necessary */
  transform: translate(-53%, -50%); /* Adjust position to center */
}

.row-sell {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 33%;
}

.letters-container {
  display: flex;
  gap: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

.letter {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
  font-weight: bold;
}

.itemName {
  font-weight: 900;
}

.bullet {
  font-size: 20px;
  position: relative;
  color: white;
  display: inline-block;
}

.letter.scale-up {
  transform: scale(1.2);
}

.fade {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/*// CAROUSEL //*/
.carousel-inner {
  padding: 1em;
  display: flex;
  overflow: hidden;
}
.carousel-item {
  margin-right: 0;
  display: block;
}

.card {
  width: 300px;
  height: 375px;
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover {
  transform: scale(1.06);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#hiring {
  width: 53em;
  margin: auto;
  padding: 50px 0 50px 0;
}

#stampTitle,
#stampCard {
  width: 53em;
  margin: auto;
}

/* Desktop */
@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .navbar-brand img {
    height: 3.15em;
  }
}
/* Mobile */
@media (max-width: 767px) {
  #section-2 {
    height: 80em;
  }
  #section-2 .container {
    padding-top: 0 !important;
  }
  .row-sell {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 9%;
  }
  .img-col {
    height: 12em;
  }
  .text-col {
    height: 12em;
  }

  .carousel-inner {
    max-width: 80%;
  }

  .card .img-wrapper {
    height: 8em;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand img {
    width: 30px;
    height: auto;
  }

  #navbar-container {
    min-height: 50px;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }

  .nav-item {
    margin: 0 !important;
  }

  #brand {
    max-width: 90%;
    max-height: 50vh;
    object-fit: contain;
    padding-top: 40%;
  }

  #banner-text {
    font-weight: bolder;
    padding-top: 0px;
  }

  #section-1 {
    height: 50%;
  }

  #hiring {
    width: 15em;
    margin: auto;
    padding: 50px 0 50px 0;
  }

  #stampTitle,
  #stampCard {
    width: 20em;
    margin: auto;
  }
}
