html,
body {
  scroll-behavior: smooth; /* Smooth scroll between sections */
  height: 100%;
}

body {
  background-color: #36c900;
}

.custom-navbar {
  background-color: #36c900;
  height: 60px;
}

.custom-navbar .nav-link {
  font-size: 1.2rem;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
}

.gallery {
  padding: 10rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(10, 80vw);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow: hidden;
  height: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
}

.gallery.active {
  scroll-snap-type: unset;
}

#imgSlide {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
  height: auto;
  max-width: 100%;
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#imgSlide.centered {
  opacity: 1;
}

#imgSlide:hover {
  transform: scale(1.025);
}

#bestSellers {
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  #welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
  }
}
